[user]
	name = Bernhard Boser
	email = bernhard.e.boser@gmail.com
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[core]
	editor = code --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = true
